node_modules
dist
dist-ssr
dist-types
.vite
*.tsbuildinfo
*.local
.DS_Store
.env
.env.local
.env.*.local

# Personal / copyrighted exam content — do not commit
dp600.txt
src/data/*.docx
src/data/*.pdf

